@model WebProspectos.Models.ViewModels.EditarProspectoViewModel
@{
    ViewBag.Title = "Detalles";
}

<h2>Detalles</h2>
<div class="row">
    <div class="col-md-12">
        @using (Html.BeginForm("Editar", "Prospectos", FormMethod.Post, new { role = "form", @class = "" }))
        {
            @Html.AntiForgeryToken()

            @Html.ValidationMessage("error", new { @class = "text-danger" })

            @Html.HiddenFor(d => d.Id)
            @Html.LabelFor(d => d.Nombre)
            @Html.TextBoxFor(d => d.Nombre, new { @class = "form-control", @readonly = "readonly", @disabled = "disabled" })

            @Html.LabelFor(d => d.PrimerApellido)
            @Html.TextBoxFor(d => d.PrimerApellido, new { @class = "form-control", @readonly = "readonly", @disabled = "disabled" })



            @Html.LabelFor(d => d.SegundoApellido)
            @Html.TextBoxFor(d => d.SegundoApellido, new { @class = "form-control", @readonly = "readonly", @disabled = "disabled" })


            @Html.LabelFor(d => d.Calle)
            @Html.TextBoxFor(d => d.Calle, new { @class = "form-control", @readonly = "readonly", @disabled = "disabled" })


            @Html.LabelFor(d => d.Numero)
            @Html.TextBoxFor(d => d.Numero, new { @class = "form-control", @readonly = "readonly", @disabled = "disabled" })


            @Html.LabelFor(d => d.Colonia)
            @Html.TextBoxFor(d => d.Colonia, new { @class = "form-control", @readonly = "readonly", @disabled = "disabled" })


            @Html.LabelFor(d => d.CodigoPostal)
            @Html.TextBoxFor(d => d.CodigoPostal, new { @class = "form-control", @readonly = "readonly", @disabled = "disabled" })


            @Html.LabelFor(d => d.Telefono)
            @Html.TextBoxFor(d => d.Telefono, new { @class = "form-control", @readonly = "readonly", @disabled = "disabled" })


            @Html.LabelFor(d => d.Rfc)
            @Html.TextBoxFor(d => d.Rfc, new { @class = "form-control", @readonly = "readonly", @disabled = "disabled" })

            @Html.LabelFor(d => d.Estatus)
            @Html.TextBoxFor(d => d.Estatus, new { @class = "form-control ", @readonly = "readonly", @disabled = "disabled" })

            @Html.HiddenFor(d => d.Estatus, new { id = "EstatusHidden" })

            <label class="text-dark">Documentos cargados: @Model.lsArchivos.Count()</label>
            <ul class="list-group col-3">
                @foreach (var archivo in Model.lsArchivos)
                {
                    <li class="list-group-item">@archivo.Nombre <a href="@Url.Action("DescargarArchivo", "Prospectos", new { id = archivo.Id})">Descargar</a></li>
                }
            </ul>
            @Html.LabelFor(d => d.Comentarios)
            @Html.TextAreaFor(d => d.Comentarios, new { @class = "form-control", id = "tbComentarios"})
            if (Model.Estatus == "Enviado")
            {
                <div class="mt-3">
                    @Html.Label("Nuevo estatus")
                </div>
                @Html.DropDownList("cmbEstatus", ViewBag.ListaDeElementos as SelectList, "Enviado", new { @class = "btn btn-secondary dropdown-toggle col-6", onchange = "actualizarEstatus()" })<div id="botones" class="d-flex col-3 justify-content-between mt-2">
                    <button type="button" class="btn btn-warning" onclick="confirmarSalida()">Salir</button>
                    <input id="btnGuardar" type="submit" class="btn btn-success" value="Guardar" />
                </div>
            }
            else
            {
                <div id="botones" class="d-flex col-3 justify-content-between mt-2">
                    <button type="button" class="btn btn-warning" onclick="confirmarSalida()">Salir</button>
                </div>
            }
        }
    </div>

    <script>
        function confirmarSalida() {
            window.location.href = '/Prospectos'; // Reemplaza '/Home/Salir' con la URL correspondiente a la acción de salida en tu controlador

        }
        function actualizarEstatus() {
            var comboBox = document.getElementById("cmbEstatus");
            var estatusHidden = document.getElementById("EstatusHidden");
            var tbComentarios = document.getElementById("tbComentarios");
            estatusHidden.value = comboBox.value;
        }
    </script>
</div>

