@model List<WebProspectos.Models.TableViewModels.TablaProspectosViewModel>

@{
    ViewBag.Title = "Lista de prospectos";
}

<div class="d-grid gap-2 d-md-flex justify-content-between">
    <h2>Lista de prospectos</h2>
    <a class="btn btn-primary m-1" href="@Url.Content("~/Prospectos/Nuevo")"><i class="fa-solid fa-plus"></i> Nuevo</a>
</div>
<br />
<div class="row">
    <div class="col-12">
        <table class="table table-bordered">
            <thead class="table-dark">
                <tr>
                    <th>Nombre</th>
                    <th>Primer apellido</th>
                    <th>Segundo apellido</th>
                    <th>Estatus</th>
                    <th>Opciones</th>
                </tr>
            </thead>
            @foreach (var objElemento in Model)
            {
                <tr>
                    <td class="align-middle">@objElemento.Nombre</td>
                    <td class="align-middle">@objElemento.PrimerApellido</td>
                    <td class="align-middle">@objElemento.SegundoApellido</td>
                    <td class="align-middle text-center">
                        <span class="badge rounded-pill @(objElemento.Estatus == "Autorizado" ? "text-bg-success" : objElemento.Estatus == "Rechazado" ? "text-bg-danger" : "text-bg-secondary")">@objElemento.Estatus</span>
                    </td>
                    <td  class="align-middle text-center">
                        <a class="btn btn-link" href="@Url.Content("~/Prospectos/Editar/" + objElemento.Id)">Ver</a>

                    </td>
                </tr>
            }
        </table>
    </div>
</div>

